openapi: 3.0.3
info:
  title: Doctor.mx API
  description: |
    Doctor.mx - Plataforma integral de telemedicina para México.
    
    Esta API proporciona acceso a todas las funcionalidades de la plataforma Doctor.mx,
    incluyendo consultas médicas virtuales, gestión de citas, recetas digitales,
    análisis de IA, consentimientos digitales, y más.
    
    ## Autenticación
    La API utiliza Supabase Auth para la autenticación. Incluye el token de sesión
    en el header `Authorization: Bearer <token>`.
    
    ## Roles
    - **patient**: Pacientes que buscan atención médica
    - **doctor**: Médicos que brindan consultas
    - **admin**: Administradores del sistema
    
    ## Rate Limiting
    Las solicitudes están limitadas por IP y usuario autenticado.
    Headers de respuesta:
    - `X-RateLimit-Limit`: Límite de solicitudes
    - `X-RateLimit-Remaining`: Solicitudes restantes
    - `X-RateLimit-Reset`: Tiempo de reinicio
  version: 1.0.0
  contact:
    name: Doctor.mx Support
    email: soporte@doctor.mx
  license:
    name: Propietario
    url: https://doctor.mx/terms

servers:
  - url: https://doctor.mx
    description: Producción
  - url: https://staging.doctor.mx
    description: Staging
  - url: http://localhost:3000
    description: Desarrollo local

security:
  - bearerAuth: []
  - cookieAuth: []

tags:
  - name: Health
    description: Health check y monitoreo
  - name: Authentication
    description: Autenticación y gestión de sesiones
  - name: Doctores
    description: Gestión de médicos y directorio
  - name: Appointments
    description: Citas médicas y agendamiento
  - name: Patients
    description: Gestión de pacientes y perfiles
  - name: AI
    description: Servicios de inteligencia artificial
  - name: Consultation
    description: Consultas médicas virtuales
  - name: Prescriptions
    description: Recetas médicas digitales
  - name: Chat
    description: Mensajería entre pacientes y doctores
  - name: Payments
    description: Pagos y facturación
  - name: Subscriptions
    description: Suscripciones y planes
  - name: Premium
    description: Funcionalidades premium
  - name: ARCO
    description: Derechos ARCO (Acceso, Rectificación, Cancelación, Oposición)
  - name: Consent
    description: Gestión de consentimientos
  - name: Analytics
    description: Análisis y métricas
  - name: Admin
    description: Funciones administrativas
  - name: Pharmacy
    description: Integración con farmacias
  - name: Reviews
    description: Reseñas y calificaciones
  - name: Second Opinion
    description: Segundas opiniones médicas
  - name: Referrals
    description: Referencias médicas entre doctores
  - name: Followups
    description: Seguimientos post-consulta
  - name: SOAP Notes
    description: Notas médicas en formato SOAP
  - name: Digital Signature
    description: Firmas digitales de documentos
  - name: Questionnaire
    description: Cuestionarios médicos adaptativos
  - name: Triage
    description: Evaluación de urgencia
  - name: Upload
    description: Subida de archivos
  - name: Cache
    description: Gestión de caché
  - name: Webhooks
    description: Webhooks para integraciones externas
  - name: Notifications
    description: Notificaciones por email
  - name: Anonymous
    description: Endpoints para usuarios no autenticados

paths:
  # ==================== HEALTH ====================
  /api/health:
    get:
      summary: Health check
      description: Verifica el estado de todos los servicios críticos y dependencias
      tags:
        - Health
      security: []
      responses:
        '200':
          description: Sistema saludable o degradado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthResponse'
        '503':
          description: Sistema no saludable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthResponse'
    options:
      summary: CORS preflight
      description: Maneja solicitudes preflight CORS
      tags:
        - Health
      security: []
      responses:
        '204':
          description: No Content

  # ==================== DOCTORES ====================
  /api/doctores:
    get:
      summary: Listar doctores
      description: Obtiene listado paginado de doctores aprobados con filtros
      tags:
        - Doctores
      security: []
      parameters:
        - name: cursor
          in: query
          description: Cursor de paginación
          schema:
            type: string
        - name: limit
          in: query
          description: Número de resultados (máx 100)
          schema:
            type: integer
            default: 20
            maximum: 100
        - name: direction
          in: query
          description: Dirección de paginación
          schema:
            type: string
            enum: [forward, backward]
            default: forward
        - name: specialty
          in: query
          description: Filtrar por especialidad (slug)
          schema:
            type: string
        - name: city
          in: query
          description: Filtrar por ciudad
          schema:
            type: string
        - name: search
          in: query
          description: Buscar por nombre de doctor
          schema:
            type: string
        - name: sort
          in: query
          description: Ordenar resultados
          schema:
            type: string
            enum: [rating, price, experience, created]
            default: rating
      responses:
        '200':
          description: Lista de doctores
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedDoctorResponse'
        '500':
          $ref: '#/components/responses/InternalError'

  /api/doctores/{id}:
    get:
      summary: Obtener doctor por ID
      description: Obtiene información detallada de un doctor específico
      tags:
        - Doctores
      security: []
      parameters:
        - name: id
          in: path
          required: true
          description: ID del doctor
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Información del doctor
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DoctorDetail'
        '404':
          $ref: '#/components/responses/NotFound'

  /api/doctores/{id}/available-dates:
    get:
      summary: Fechas disponibles
      description: Obtiene las fechas disponibles para agendar con un doctor
      tags:
        - Doctores
      security: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Fechas disponibles
          content:
            application/json:
              schema:
                type: object
                properties:
                  dates:
                    type: array
                    items:
                      type: string
                      format: date
        '404':
          $ref: '#/components/responses/NotFound'

  /api/doctores/{id}/slots:
    get:
      summary: Horarios disponibles
      description: Obtiene los horarios disponibles para una fecha específica
      tags:
        - Doctores
      security: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: date
          in: query
          required: true
          description: Fecha en formato YYYY-MM-DD
          schema:
            type: string
            format: date
      responses:
        '200':
          description: Horarios disponibles
          content:
            application/json:
              schema:
                type: object
                properties:
                  slots:
                    type: array
                    items:
                      type: string
                      pattern: '^([0-1]?[0-9]|2[0-3]):[0-5][0-9]$'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'

  /api/doctor/availability:
    post:
      summary: Configurar disponibilidad
      description: Doctor configura su horario de disponibilidad
      tags:
        - Doctores
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                enabled_0:
                  type: string
                  description: Domingo habilitado ("on" o ausente)
                start_0:
                  type: string
                  pattern: '^([0-1]?[0-9]|2[0-3]):[0-5][0-9]$'
                end_0:
                  type: string
                  pattern: '^([0-1]?[0-9]|2[0-3]):[0-5][0-9]$'
                enabled_1:
                  type: string
                start_1:
                  type: string
                end_1:
                  type: string
                enabled_2:
                  type: string
                start_2:
                  type: string
                end_2:
                  type: string
                enabled_3:
                  type: string
                start_3:
                  type: string
                end_3:
                  type: string
                enabled_4:
                  type: string
                start_4:
                  type: string
                end_4:
                  type: string
                enabled_5:
                  type: string
                start_5:
                  type: string
                end_5:
                  type: string
                enabled_6:
                  type: string
                start_6:
                  type: string
                end_6:
                  type: string
      responses:
        '302':
          description: Redirección exitosa
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalError'

  /api/doctor/onboarding:
    post:
      summary: Onboarding de doctor
      description: Completa el proceso de registro de un nuevo doctor
      tags:
        - Doctores
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DoctorOnboardingInput'
      responses:
        '200':
          description: Onboarding completado
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /api/doctor/verify-cedula:
    post:
      summary: Verificar cédula profesional
      description: Verifica la cédula profesional de un médico
      tags:
        - Doctores
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                cedulaNumber:
                  type: string
                specialty:
                  type: string
      responses:
        '200':
          description: Verificación exitosa
          content:
            application/json:
              schema:
                type: object
                properties:
                  verified:
                    type: boolean
                  professionalData:
                    type: object
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /api/doctor/badges:
    get:
      summary: Obtener insignias
      description: Obtiene las insignias del doctor
      tags:
        - Doctores
      responses:
        '200':
          description: Lista de insignias
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DoctorBadge'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /api/doctor/analytics/ai-referrals:
    get:
      summary: Analytics de referencias IA
      description: Obtiene estadísticas de referencias generadas por IA
      tags:
        - Doctores
        - Analytics
      responses:
        '200':
          description: Estadísticas de referencias
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AIReferralAnalytics'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /api/directory/profiles/{id}:
    get:
      summary: Perfil público
      description: Obtiene el perfil público de un doctor para el directorio
      tags:
        - Doctores
      security: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Perfil público
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicDoctorProfile'
        '404':
          $ref: '#/components/responses/NotFound'

  /api/directory/recommended:
    get:
      summary: Doctores recomendados
      description: Obtiene doctores recomendados basados en IA
      tags:
        - Doctores
      security: []
      parameters:
        - name: symptoms
          in: query
          description: Síntomas para matching
          schema:
            type: string
        - name: specialty
          in: query
          description: Especialidad preferida
          schema:
            type: string
        - name: location
          in: query
          description: Ubicación del paciente
          schema:
            type: string
        - name: limit
          in: query
          schema:
            type: integer
            default: 5
            maximum: 20
      responses:
        '200':
          description: Doctores recomendados
          content:
            application/json:
              schema:
                type: object
                properties:
                  doctors:
                    type: array
                    items:
                      $ref: '#/components/schemas/RecommendedDoctor'
                  matchedBy:
                    type: string
                    enum: [symptoms, specialty, location, rating]

  /api/directory/claim:
    post:
      summary: Reclamar perfil
      description: Doctor reclama su perfil en el directorio
      tags:
        - Doctores
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                cedulaNumber:
                  type: string
                fullName:
                  type: string
                email:
                  type: string
                  format: email
      responses:
        '201':
          description: Solicitud de reclamo creada
        '400':
          $ref: '#/components/responses/BadRequest'

  /api/directory/claim/{id}/verify:
    post:
      summary: Verificar reclamo
      description: Verifica el código de reclamo de perfil
      tags:
        - Doctores
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                verificationCode:
                  type: string
      responses:
        '200':
          description: Verificación exitosa
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'


  # ==================== APPOINTMENTS ====================
  /api/appointments:
    get:
      summary: Listar citas
      description: Obtiene las citas del usuario autenticado
      tags:
        - Appointments
      parameters:
        - name: cursor
          in: query
          schema:
            type: string
        - name: limit
          in: query
          schema:
            type: integer
            default: 20
            maximum: 100
        - name: direction
          in: query
          schema:
            type: string
            enum: [forward, backward]
            default: forward
        - name: status
          in: query
          description: Filtrar por estado
          schema:
            type: string
            enum: [all, upcoming, past, pending_payment, confirmed, completed, cancelled, refunded]
      responses:
        '200':
          description: Lista de citas
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedAppointmentResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      summary: Crear cita
      description: Agenda una nueva cita médica
      tags:
        - Appointments
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - doctorId
                - date
                - time
              properties:
                doctorId:
                  type: string
                  format: uuid
                date:
                  type: string
                  format: date
                time:
                  type: string
                  pattern: '^([0-1]?[0-9]|2[0-3]):[0-5][0-9]$'
      responses:
        '200':
          description: Cita creada
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  appointmentId:
                    type: string
                    format: uuid
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /api/appointments/{id}/cancel:
    post:
      summary: Cancelar cita
      description: Cancela una cita existente
      tags:
        - Appointments
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                reason:
                  type: string
      responses:
        '200':
          description: Cita cancelada
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /api/appointments/{id}/video:
    get:
      summary: Token de video
      description: Obtiene token para sala de video de la cita
      tags:
        - Appointments
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Token de video
          content:
            application/json:
              schema:
                type: object
                properties:
                  token:
                    type: string
                  roomUrl:
                    type: string
                  expiresAt:
                    type: string
                    format: date-time
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

  # ==================== PATIENTS ====================
  /api/patients:
    get:
      summary: Listar pacientes
      description: Obtiene lista de pacientes (solo doctores)
      tags:
        - Patients
      responses:
        '200':
          description: Lista de pacientes
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Patient'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

  /api/patient/profile:
    get:
      summary: Perfil del paciente
      description: Obtiene el perfil del paciente autenticado
      tags:
        - Patients
      responses:
        '200':
          description: Perfil del paciente
          content:
            application/json:
              schema:
                type: object
                properties:
                  profile:
                    $ref: '#/components/schemas/PatientProfile'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    put:
      summary: Actualizar perfil
      description: Actualiza el perfil del paciente autenticado
      tags:
        - Patients
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateProfileData'
      responses:
        '200':
          description: Perfil actualizado
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /api/patient/appointments:
    get:
      summary: Citas del paciente
      description: Obtiene las citas del paciente autenticado
      tags:
        - Patients
      responses:
        '200':
          description: Lista de citas
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Appointment'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /api/patient/medical-history:
    get:
      summary: Historial médico
      description: Obtiene el historial médico del paciente
      tags:
        - Patients
      responses:
        '200':
          description: Historial médico
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MedicalHistory'
        '401':
          $ref: '#/components/responses/Unauthorized'

  # ==================== AI SERVICES ====================
  /api/ai/consult:
    post:
      summary: Consulta con IA
      description: Inicia o continúa una consulta médica con IA
      tags:
        - AI
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - messages
              properties:
                messages:
                  type: array
                  items:
                    type: object
                    properties:
                      role:
                        type: string
                        enum: [user, assistant, system]
                      content:
                        type: string
                patientId:
                  type: string
                  format: uuid
      responses:
        '200':
          description: Respuesta de la IA
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AIConsultResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimit'

  /api/ai/transcription:
    post:
      summary: Transcribir audio
      description: Transcribe audio de consulta usando Whisper
      tags:
        - AI
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required:
                - appointmentId
                - audio
              properties:
                appointmentId:
                  type: string
                  format: uuid
                audio:
                  type: string
                  format: binary
      responses:
        '200':
          description: Transcripción completada
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TranscriptionResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

  /api/ai/vision/analyze:
    post:
      summary: Analizar imagen médica
      description: Analiza imágenes médicas usando IA
      tags:
        - AI
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required:
                - file
                - imageType
              properties:
                file:
                  type: string
                  format: binary
                  description: Imagen (máx 5MB, jpg/png/webp)
                imageType:
                  type: string
                  enum: [skin, xray, lab_result, wound, eye, other]
                patientNotes:
                  type: string
      responses:
        '200':
          description: Análisis completado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VisionAnalysisResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

  /api/ai/vision/result/{id}:
    get:
      summary: Resultado de análisis
      description: Obtiene el resultado de un análisis de imagen
      tags:
        - AI
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Resultado del análisis
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VisionAnalysisResult'
        '404':
          $ref: '#/components/responses/NotFound'

  /api/ai/preconsulta:
    post:
      summary: Pre-consulta IA
      description: Inicia una pre-consulta con IA para triage inicial
      tags:
        - AI
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                symptoms:
                  type: string
                patientInfo:
                  type: object
      responses:
        '200':
          description: Pre-consulta iniciada
          content:
            application/json:
              schema:
                type: object
                properties:
                  recommendations:
                    type: array
                    items:
                      $ref: '#/components/schemas/PreConsultaDoctor'
                  triage:
                    type: object
        '400':
          $ref: '#/components/responses/BadRequest'

  /api/ai/followup:
    post:
      summary: Generar seguimiento
      description: Genera mensajes de seguimiento post-consulta
      tags:
        - AI
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                consultationId:
                  type: string
                  format: uuid
                followUpType:
                  type: string
                  enum: [24h, 7d, 30d]
      responses:
        '200':
          description: Seguimiento generado
        '401':
          $ref: '#/components/responses/Unauthorized'

  /api/ai/referrals/from-consultation:
    post:
      summary: Referencia desde consulta
      description: Genera referencia médica desde una consulta
      tags:
        - AI
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                consultationId:
                  type: string
                  format: uuid
      responses:
        '200':
          description: Referencia generada
        '401':
          $ref: '#/components/responses/Unauthorized'

  /api/ai/referrals/analytics:
    get:
      summary: Analytics de referencias
      description: Obtiene estadísticas de referencias de IA
      tags:
        - AI
        - Analytics
      responses:
        '200':
          description: Estadísticas
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AIReferralAnalytics'

  /api/ai/copilot/suggestions:
    post:
      summary: Sugerencias del copiloto
      description: Obtiene sugerencias del copiloto clínico
      tags:
        - AI
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                context:
                  type: string
                patientData:
                  type: object
      responses:
        '200':
          description: Sugerencias generadas
          content:
            application/json:
              schema:
                type: object
                properties:
                  suggestions:
                    type: array
                    items:
                      type: string

  /api/ai/copilot/diagnosis:
    post:
      summary: Soporte diagnóstico
      description: Obtiene soporte diagnóstico del copiloto
      tags:
        - AI
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                symptoms:
                  type: array
                  items:
                    type: string
                history:
                  type: string
      responses:
        '200':
          description: Diagnósticos sugeridos

  /api/ai/copilot/summary:
    post:
      summary: Resumir consulta
      description: Genera resumen de consulta médica
      tags:
        - AI
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                consultationId:
                  type: string
                  format: uuid
      responses:
        '200':
          description: Resumen generado

  /api/ai/structure-soap:
    post:
      summary: Estructurar SOAP
      description: Convierte notas en formato SOAP
      tags:
        - AI
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                notes:
                  type: string
      responses:
        '200':
          description: Nota SOAP estructurada
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SOAPNote'

  /api/ai/quota:
    get:
      summary: Cuota de IA
      description: Obtiene el uso actual de cuota de IA
      tags:
        - AI
      responses:
        '200':
          description: Cuota disponible
          content:
            application/json:
              schema:
                type: object
                properties:
                  used:
                    type: integer
                  limit:
                    type: integer
                  remaining:
                    type: integer
                  resetDate:
                    type: string
                    format: date-time

  /api/ai/questionnaire:
    post:
      summary: Generar cuestionario
      description: Genera cuestionario médico basado en síntomas
      tags:
        - AI
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                symptoms:
                  type: array
                  items:
                    type: string
      responses:
        '200':
          description: Cuestionario generado

  # ==================== CONSULTATION NOTES ====================
  /api/consultation-notes:
    post:
      summary: Crear nota de consulta
      description: Crea una nota médica de consulta
      tags:
        - Consultation
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                appointmentId:
                  type: string
                  format: uuid
                notes:
                  type: string
      responses:
        '201':
          description: Nota creada
        '401':
          $ref: '#/components/responses/Unauthorized'


  # ==================== SOAP NOTES ====================
  /api/soap-notes/generate:
    post:
      summary: Generar nota SOAP
      description: Genera nota SOAP con IA desde transcripción
      tags:
        - SOAP Notes
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                transcriptId:
                  type: string
                  format: uuid
      responses:
        '200':
          description: Nota SOAP generada
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SOAPNote'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /api/soap-notes/from-consultation:
    post:
      summary: SOAP desde consulta
      description: Genera nota SOAP desde datos de consulta
      tags:
        - SOAP Notes
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                consultationId:
                  type: string
                  format: uuid
      responses:
        '200':
          description: Nota generada
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SOAPNote'

  /api/soap-notes/{id}/approve:
    post:
      summary: Aprobar nota SOAP
      description: Doctor aprueba nota SOAP generada
      tags:
        - SOAP Notes
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                approved:
                  type: boolean
                modifications:
                  type: object
      responses:
        '200':
          description: Nota aprobada
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /api/soap/consult:
    post:
      summary: Consulta SOAP
      description: Crea consulta con formato SOAP
      tags:
        - SOAP Notes
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SOAPNoteInput'
      responses:
        '201':
          description: Consulta creada
        '401':
          $ref: '#/components/responses/Unauthorized'

  /api/soap/consult/{id}:
    get:
      summary: Obtener consulta SOAP
      description: Obtiene una consulta en formato SOAP
      tags:
        - SOAP Notes
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Consulta SOAP
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SOAPNote'
        '404':
          $ref: '#/components/responses/NotFound'

  /api/soap/stream:
    get:
      summary: Stream SOAP
      description: Streaming de notas SOAP en tiempo real
      tags:
        - SOAP Notes
      responses:
        '200':
          description: Stream de eventos

  # ==================== PRESCRIPTIONS ====================
  /api/prescriptions:
    post:
      summary: Crear receta
      description: Crea o actualiza una receta médica
      tags:
        - Prescriptions
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required:
                - appointmentId
                - diagnosis
                - medications
              properties:
                appointmentId:
                  type: string
                  format: uuid
                diagnosis:
                  type: string
                medications:
                  type: string
                instructions:
                  type: string
      responses:
        '302':
          description: Redirección exitosa
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /api/prescriptions/preview:
    post:
      summary: Previsualizar receta
      description: Genera previsualización de receta sin guardar
      tags:
        - Prescriptions
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                diagnosis:
                  type: string
                medications:
                  type: string
                instructions:
                  type: string
      responses:
        '200':
          description: Previsualización generada

  /api/prescriptions/{id}/pdf:
    get:
      summary: Descargar PDF
      description: Descarga la receta en formato PDF
      tags:
        - Prescriptions
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: PDF de receta
          content:
            application/pdf:
              schema:
                type: string
                format: binary
        '404':
          $ref: '#/components/responses/NotFound'

  /api/prescriptions/{id}/send:
    post:
      summary: Enviar receta
      description: Envía receta por email o WhatsApp
      tags:
        - Prescriptions
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                method:
                  type: string
                  enum: [email, whatsapp]
                destination:
                  type: string
      responses:
        '200':
          description: Receta enviada
        '400':
          $ref: '#/components/responses/BadRequest'

  /api/prescriptions/send:
    post:
      summary: Enviar múltiples
      description: Envía múltiples recetas
      tags:
        - Prescriptions
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                prescriptionIds:
                  type: array
                  items:
                    type: string
                    format: uuid
      responses:
        '200':
          description: Recetas enviadas

  # ==================== CHAT ====================
  /api/chat/conversations:
    get:
      summary: Listar conversaciones
      description: Obtiene las conversaciones del usuario
      tags:
        - Chat
      parameters:
        - name: cursor
          in: query
          schema:
            type: string
        - name: limit
          in: query
          schema:
            type: integer
            default: 20
      responses:
        '200':
          description: Lista de conversaciones
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedConversationResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      summary: Crear conversación
      description: Crea una nueva conversación
      tags:
        - Chat
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - patientId
                - doctorId
              properties:
                patientId:
                  type: string
                  format: uuid
                doctorId:
                  type: string
                  format: uuid
                appointmentId:
                  type: string
                  format: uuid
      responses:
        '200':
          description: Conversación creada
          content:
            application/json:
              schema:
                type: object
                properties:
                  conversation:
                    $ref: '#/components/schemas/Conversation'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /api/chat/conversations/{id}:
    get:
      summary: Obtener conversación
      description: Obtiene detalles de una conversación
      tags:
        - Chat
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Detalles de conversación
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Conversation'
        '404':
          $ref: '#/components/responses/NotFound'

  /api/chat/messages:
    post:
      summary: Enviar mensaje
      description: Envía un mensaje en una conversación
      tags:
        - Chat
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - conversationId
                - content
              properties:
                conversationId:
                  type: string
                  format: uuid
                content:
                  type: string
                attachments:
                  type: array
                  items:
                    type: object
      responses:
        '200':
          description: Mensaje enviado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /api/chat/messages/{id}/read:
    post:
      summary: Marcar como leído
      description: Marca un mensaje como leído
      tags:
        - Chat
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Mensaje marcado como leído
        '401':
          $ref: '#/components/responses/Unauthorized'

  # ==================== PAYMENTS ====================
  /api/create-payment-intent:
    post:
      summary: Crear intento de pago
      description: Crea un PaymentIntent de Stripe
      tags:
        - Payments
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - appointmentId
              properties:
                appointmentId:
                  type: string
                  format: uuid
      responses:
        '200':
          description: PaymentIntent creado
          content:
            application/json:
              schema:
                type: object
                properties:
                  clientSecret:
                    type: string
                  amount:
                    type: integer
                  currency:
                    type: string
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /api/confirm-payment:
    post:
      summary: Confirmar pago
      description: Confirma un pago completado
      tags:
        - Payments
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                paymentIntentId:
                  type: string
                appointmentId:
                  type: string
                  format: uuid
      responses:
        '200':
          description: Pago confirmado
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  # ==================== SUBSCRIPTIONS ====================
  /api/subscriptions:
    get:
      summary: Estado de suscripción
      description: Obtiene el estado de suscripción actual
      tags:
        - Subscriptions
      responses:
        '200':
          description: Estado de suscripción
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  isActive:
                    type: boolean
                  plan:
                    type: string
                  expiresAt:
                    type: string
                    format: date-time
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      summary: Crear suscripción
      description: Crea una nueva suscripción
      tags:
        - Subscriptions
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                planId:
                  type: string
                  enum: [starter, pro, elite]
                  default: starter
      responses:
        '200':
          description: Suscripción creada
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  subscription:
                    type: object
                  stripeSubscriptionId:
                    type: string
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /api/subscriptions/plans:
    get:
      summary: Planes disponibles
      description: Obtiene los planes de suscripción disponibles
      tags:
        - Subscriptions
      security: []
      responses:
        '200':
          description: Lista de planes
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SubscriptionPlan'

  /api/subscriptions/upgrade:
    post:
      summary: Actualizar plan
      description: Actualiza el plan de suscripción
      tags:
        - Subscriptions
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - planId
              properties:
                planId:
                  type: string
                  enum: [pro, elite]
      responses:
        '200':
          description: Plan actualizado
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /api/subscriptions/usage:
    get:
      summary: Uso de suscripción
      description: Obtiene el uso actual de la suscripción
      tags:
        - Subscriptions
      responses:
        '200':
          description: Uso de suscripción
          content:
            application/json:
              schema:
                type: object
                properties:
                  used:
                    type: integer
                  limit:
                    type: integer
                  remaining:
                    type: integer

  /api/subscriptions/usage/ai:
    get:
      summary: Uso de IA
      description: Obtiene el uso de funcionalidades de IA
      tags:
        - Subscriptions
      responses:
        '200':
          description: Uso de IA

  /api/subscriptions/usage/image:
    get:
      summary: Uso de imágenes
      description: Obtiene el uso de análisis de imágenes
      tags:
        - Subscriptions
      responses:
        '200':
          description: Uso de imágenes

  /api/subscriptions/usage/whatsapp:
    get:
      summary: Uso de WhatsApp
      description: Obtiene el uso de notificaciones WhatsApp
      tags:
        - Subscriptions
      responses:
        '200':
          description: Uso de WhatsApp

  # ==================== PREMIUM ====================
  /api/premium/status:
    get:
      summary: Estado premium
      description: Obtiene el estado de funcionalidades premium
      tags:
        - Premium
      parameters:
        - name: feature
          in: query
          description: Verificar acceso a función específica
          schema:
            type: string
            enum: [image_analysis, clinical_copilot, extended_transcription, priority_ai_response]
      responses:
        '200':
          description: Estado premium
          content:
            application/json:
              schema:
                type: object
                properties:
                  tier:
                    type: string
                    enum: [starter, pro, elite, patient]
                  tierName:
                    type: string
                  hasAccess:
                    type: boolean
                  used:
                    type: integer
                  limit:
                    type: integer
                    nullable: true
                  remaining:
                    type: integer
                  needsUpgrade:
                    type: boolean

  /api/premium/checkout:
    post:
      summary: Checkout premium
      description: Inicia el proceso de checkout para premium
      tags:
        - Premium
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                tier:
                  type: string
                  enum: [pro, elite]
      responses:
        '200':
          description: Sesión de checkout creada
          content:
            application/json:
              schema:
                type: object
                properties:
                  checkoutUrl:
                    type: string
                  sessionId:
                    type: string
        '401':
          $ref: '#/components/responses/Unauthorized'

  /api/premium/purchase:
    post:
      summary: Compra de uso individual
      description: Compra uso individual de función premium
      tags:
        - Premium
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                feature:
                  type: string
                quantity:
                  type: integer
      responses:
        '200':
          description: Compra realizada
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /api/premium/bill:
    get:
      summary: Obtener factura
      description: Obtiene la última factura de suscripción
      tags:
        - Premium
      responses:
        '200':
          description: Factura
          content:
            application/json:
              schema:
                type: object
                properties:
                  invoice:
                    type: object
        '401':
          $ref: '#/components/responses/Unauthorized'

  /api/premium/usage:
    get:
      summary: Uso premium detallado
      description: Obtiene uso detallado de funciones premium
      tags:
        - Premium
      responses:
        '200':
          description: Uso detallado
          content:
            application/json:
              schema:
                type: object
                properties:
                  usage:
                    type: array
                    items:
                      type: object
        '401':
          $ref: '#/components/responses/Unauthorized'


  # ==================== ARCO ====================
  /api/arco/requests:
    get:
      summary: Listar solicitudes ARCO
      description: Obtiene las solicitudes ARCO del usuario o todas (admin)
      tags:
        - ARCO
      parameters:
        - name: request_type
          in: query
          description: Filtrar por tipo
          schema:
            type: string
            enum: [ACCESS, RECTIFY, CANCEL, OPPOSE]
        - name: status
          in: query
          description: Filtrar por estado
          schema:
            type: string
            enum: [pending, acknowledged, processing, completed, denied, cancelled]
        - name: page
          in: query
          description: Página (solo admin)
          schema:
            type: integer
            default: 1
        - name: per_page
          in: query
          description: Items por página (solo admin)
          schema:
            type: integer
            default: 20
        - name: sort
          in: query
          description: Ordenamiento
          schema:
            type: string
            enum: [created_at, due_date, status, priority, request_type]
            default: created_at
      responses:
        '200':
          description: Lista de solicitudes
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: object
                    properties:
                      requests:
                        type: array
                        items:
                          $ref: '#/components/schemas/ArcoRequest'
                      pagination:
                        $ref: '#/components/schemas/PaginationInfo'
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      summary: Crear solicitud ARCO
      description: Crea una nueva solicitud ARCO
      tags:
        - ARCO
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ArcoRequestInput'
      responses:
        '201':
          description: Solicitud creada
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: object
                    properties:
                      request:
                        $ref: '#/components/schemas/ArcoRequest'
                      message:
                        type: string
                      due_date:
                        type: string
                        format: date-time
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /api/arco/requests/{id}:
    get:
      summary: Obtener solicitud
      description: Obtiene detalles de una solicitud ARCO
      tags:
        - ARCO
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Detalles de solicitud
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    $ref: '#/components/schemas/ArcoRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /api/arco/requests/{id}/export:
    get:
      summary: Exportar datos
      description: Exporta los datos personales del usuario
      tags:
        - ARCO
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: format
          in: query
          description: Formato de exportación
          schema:
            type: string
            enum: [json, csv, pdf]
            default: json
      responses:
        '200':
          description: Datos exportados
          content:
            application/json:
              schema:
                type: object
            text/csv:
              schema:
                type: string
            application/pdf:
              schema:
                type: string
                format: binary
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /api/arco/cancel:
    post:
      summary: Solicitar cancelación
      description: Solicita cancelación (eliminación) de datos
      tags:
        - ARCO
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                data_scope:
                  type: array
                  items:
                    type: string
                justification:
                  type: string
      responses:
        '201':
          description: Solicitud creada
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /api/arco/rectify:
    post:
      summary: Solicitar rectificación
      description: Solicita rectificación de datos personales
      tags:
        - ARCO
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                changes:
                  type: array
                  items:
                    type: object
                    properties:
                      field:
                        type: string
                      currentValue:
                        type: string
                      newValue:
                        type: string
                      justification:
                        type: string
      responses:
        '201':
          description: Solicitud creada
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /api/arco/oppose:
    post:
      summary: Solicitar oposición
      description: Solicita oposición al tratamiento de datos
      tags:
        - ARCO
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                purpose:
                  type: string
                justification:
                  type: string
      responses:
        '201':
          description: Solicitud creada
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /api/arco/stats:
    get:
      summary: Estadísticas ARCO
      description: Obtiene estadísticas de solicitudes ARCO (admin)
      tags:
        - ARCO
      responses:
        '200':
          description: Estadísticas
          content:
            application/json:
              schema:
                type: object
                properties:
                  total_requests:
                    type: integer
                  by_status:
                    type: object
                  by_type:
                    type: object
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

  /api/arco/export:
    post:
      summary: Exportar ARCO
      description: Endpoint de exportación ARCO
      tags:
        - ARCO
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                userId:
                  type: string
                  format: uuid
      responses:
        '200':
          description: Exportación completada

  # ==================== CONSENT ====================
  /api/consent/status:
    get:
      summary: Estado de consentimientos
      description: Obtiene el estado de consentimientos del usuario
      tags:
        - Consent
      responses:
        '200':
          description: Estado de consentimientos
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    $ref: '#/components/schemas/ConsentStatus'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /api/consent/grant:
    post:
      summary: Otorgar consentimiento
      description: Otorga un consentimiento específico
      tags:
        - Consent
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - consent_type
              properties:
                consent_type:
                  type: string
                  enum: [medical_treatment, data_processing, telemedicine, recording, ai_analysis, data_sharing, research, marketing, emergency_contact, prescription_forwarding]
                version_id:
                  type: string
                  format: uuid
                delivery_method:
                  type: string
                  enum: [web, email, sms, in_person]
      responses:
        '200':
          description: Consentimiento otorgado
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /api/consent/withdraw:
    post:
      summary: Retirar consentimiento
      description: Retira un consentimiento previamente otorgado
      tags:
        - Consent
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - consent_type
              properties:
                consent_type:
                  type: string
                reason:
                  type: string
      responses:
        '200':
          description: Consentimiento retirado
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /api/consent/history:
    get:
      summary: Historial de consentimientos
      description: Obtiene el historial de cambios de consentimientos
      tags:
        - Consent
      responses:
        '200':
          description: Historial
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ConsentHistory'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /api/consent/audit:
    get:
      summary: Auditoría de consentimientos
      description: Obtiene registros de auditoría (admin)
      tags:
        - Consent
      parameters:
        - name: userId
          in: query
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Registros de auditoría
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

  /api/consent/types:
    get:
      summary: Tipos de consentimiento
      description: Obtiene los tipos de consentimiento disponibles
      tags:
        - Consent
      security: []
      responses:
        '200':
          description: Tipos de consentimiento
          content:
            application/json:
              schema:
                type: object
                properties:
                  types:
                    type: array
                    items:
                      type: object
                      properties:
                        type:
                          type: string
                        label:
                          type: string
                        category:
                          type: string
                        required:
                          type: boolean

  /api/consent/version/{type}:
    get:
      summary: Versión de consentimiento
      description: Obtiene la versión actual de un tipo de consentimiento
      tags:
        - Consent
      parameters:
        - name: type
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Versión de consentimiento
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConsentVersion'

  # ==================== ANALYTICS ====================
  /api/analytics/admin:
    get:
      summary: Analytics de administrador
      description: Obtiene métricas administrativas completas
      tags:
        - Analytics
        - Admin
      responses:
        '200':
          description: Métricas administrativas
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: object
                    properties:
                      admin:
                        type: object
                      revenue:
                        type: object
                      users:
                        type: object
                      appointments:
                        type: object
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

  /api/analytics/doctor:
    get:
      summary: Analytics de doctor
      description: Obtiene métricas del doctor autenticado
      tags:
        - Analytics
      responses:
        '200':
          description: Métricas del doctor
          content:
            application/json:
              schema:
                type: object
                properties:
                  totalPatients:
                    type: integer
                  totalConsultations:
                    type: integer
                  averageRating:
                    type: number
                  revenue:
                    type: number
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

  /api/analytics/revenue:
    get:
      summary: Analytics de ingresos
      description: Obtiene métricas de ingresos (admin)
      tags:
        - Analytics
      responses:
        '200':
          description: Métricas de ingresos
          content:
            application/json:
              schema:
                type: object
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

  /api/analytics/export:
    get:
      summary: Exportar analytics
      description: Exporta datos analíticos en varios formatos
      tags:
        - Analytics
      parameters:
        - name: format
          in: query
          schema:
            type: string
            enum: [csv, json, xlsx]
            default: csv
        - name: startDate
          in: query
          schema:
            type: string
            format: date
        - name: endDate
          in: query
          schema:
            type: string
            format: date
      responses:
        '200':
          description: Datos exportados
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        '401':
          $ref: '#/components/responses/Unauthorized'

  # ==================== ADMIN ====================
  /api/admin/verify-doctor:
    post:
      summary: Verificar doctor
      description: Admin verifica un doctor pendiente
      tags:
        - Admin
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - doctorId
                - approved
              properties:
                doctorId:
                  type: string
                  format: uuid
                approved:
                  type: boolean
                reason:
                  type: string
      responses:
        '200':
          description: Verificación completada
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

  /api/admin/premium:
    post:
      summary: Gestionar premium
      description: Admin gestiona acceso premium manualmente
      tags:
        - Admin
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                userId:
                  type: string
                  format: uuid
                tier:
                  type: string
                  enum: [starter, pro, elite]
                action:
                  type: string
                  enum: [grant, revoke, extend]
      responses:
        '200':
          description: Operación completada
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

  /api/admin/ai/metrics:
    get:
      summary: Métricas de IA
      description: Obtiene métricas de uso de IA
      tags:
        - Admin
      responses:
        '200':
          description: Métricas de IA
          content:
            application/json:
              schema:
                type: object
                properties:
                  totalRequests:
                    type: integer
                  totalCost:
                    type: number
                  byEndpoint:
                    type: object
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

  /api/admin/followups/verify:
    post:
      summary: Verificar seguimientos
      description: Verifica manualmente los seguimientos completados
      tags:
        - Admin
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                followUpId:
                  type: string
                  format: uuid
      responses:
        '200':
          description: Seguimiento verificado
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'


  # ==================== PHARMACY ====================
  /api/pharmacy/search:
    get:
      summary: Buscar medicamentos
      description: Busca medicamentos en todas las farmacias
      tags:
        - Pharmacy
      security: []
      parameters:
        - name: q
          in: query
          required: true
          description: Término de búsqueda (mín 2 caracteres)
          schema:
            type: string
            minLength: 2
        - name: cache
          in: query
          description: Usar caché
          schema:
            type: boolean
            default: true
      responses:
        '200':
          description: Resultados de búsqueda
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PharmacySearchResult'
        '400':
          $ref: '#/components/responses/BadRequest'
    post:
      summary: Comparar precios
      description: Compara precios de un medicamento
      tags:
        - Pharmacy
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - medicationName
              properties:
                medicationName:
                  type: string
                  minLength: 3
      responses:
        '200':
          description: Comparación de precios
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PriceComparisonResult'

  /api/pharmacy/recommend:
    get:
      summary: Farmacia recomendada
      description: Obtiene la farmacia más conveniente
      tags:
        - Pharmacy
      parameters:
        - name: medication
          in: query
          required: true
          schema:
            type: string
        - name: location
          in: query
          schema:
            type: string
      responses:
        '200':
          description: Farmacia recomendada
          content:
            application/json:
              schema:
                type: object
                properties:
                  pharmacy:
                    type: string
                  price:
                    type: number
                  distance:
                    type: number

  /api/pharmacy/affiliate:
    post:
      summary: Afiliar farmacia
      description: Registra una farmacia como afiliada
      tags:
        - Pharmacy
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                pharmacyName:
                  type: string
                contactEmail:
                  type: string
                contactPhone:
                  type: string
      responses:
        '201':
          description: Farmacia afiliada
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

  /api/pharmacy/earnings:
    get:
      summary: Ganancias
      description: Obtiene ganancias de referencias (afiliados)
      tags:
        - Pharmacy
      responses:
        '200':
          description: Ganancias
          content:
            application/json:
              schema:
                type: object
                properties:
                  totalEarnings:
                    type: number
                  referralsCount:
                    type: integer
        '401':
          $ref: '#/components/responses/Unauthorized'

  /api/pharmacy/refer:
    post:
      summary: Referir a farmacia
      description: Crea una referencia a una farmacia específica
      tags:
        - Pharmacy
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                pharmacyId:
                  type: string
                patientId:
                  type: string
                  format: uuid
      responses:
        '201':
          description: Referencia creada
        '401':
          $ref: '#/components/responses/Unauthorized'

  /api/pharmacy/sponsors:
    get:
      summary: Farmacias patrocinadas
      description: Obtiene farmacias patrocinadas
      tags:
        - Pharmacy
      security: []
      responses:
        '200':
          description: Lista de farmacias patrocinadas
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object

  /api/pharmacy/webhook:
    post:
      summary: Webhook de farmacia
      description: Recibe webhooks de farmacias afiliadas
      tags:
        - Pharmacy
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Webhook recibido

  # ==================== REVIEWS ====================
  /api/reviews:
    get:
      summary: Listar reseñas
      description: Obtiene reseñas de un doctor o paciente
      tags:
        - Reviews
      parameters:
        - name: doctorId
          in: query
          description: ID del doctor
          schema:
            type: string
            format: uuid
        - name: patientId
          in: query
          description: ID del paciente (debe ser el propio)
          schema:
            type: string
            format: uuid
        - name: reviewable
          in: query
          description: Obtener citas reseñables
          schema:
            type: boolean
        - name: limit
          in: query
          schema:
            type: integer
            default: 20
      responses:
        '200':
          description: Lista de reseñas
          content:
            application/json:
              schema:
                type: object
                properties:
                  reviews:
                    type: array
                    items:
                      $ref: '#/components/schemas/Review'
                  pagination:
                    type: object
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      summary: Crear reseña
      description: Crea una nueva reseña para una consulta
      tags:
        - Reviews
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - appointmentId
                - doctorId
                - rating
              properties:
                appointmentId:
                  type: string
                  format: uuid
                doctorId:
                  type: string
                  format: uuid
                rating:
                  type: integer
                  minimum: 1
                  maximum: 5
                comment:
                  type: string
      responses:
        '201':
          description: Reseña creada
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Review'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /api/reviews/{id}:
    get:
      summary: Obtener reseña
      description: Obtiene detalles de una reseña
      tags:
        - Reviews
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Detalles de reseña
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Review'
        '404':
          $ref: '#/components/responses/NotFound'

  # ==================== SECOND OPINION ====================
  /api/second-opinion:
    get:
      summary: Listar solicitudes
      description: Obtiene las solicitudes de segunda opinión del paciente
      tags:
        - Second Opinion
      parameters:
        - name: status
          in: query
          schema:
            type: string
        - name: limit
          in: query
          schema:
            type: integer
            default: 20
            maximum: 50
        - name: offset
          in: query
          schema:
            type: integer
            default: 0
      responses:
        '200':
          description: Lista de solicitudes
          content:
            application/json:
              schema:
                type: object
                properties:
                  requests:
                    type: array
                    items:
                      $ref: '#/components/schemas/SecondOpinionRequest'
                  total:
                    type: integer
                  limit:
                    type: integer
                  offset:
                    type: integer
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      summary: Crear solicitud
      description: Crea una nueva solicitud de segunda opinión
      tags:
        - Second Opinion
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SecondOpinionInput'
      responses:
        '201':
          description: Solicitud creada
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: uuid
                  price_cents:
                    type: integer
                  currency:
                    type: string
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

  /api/second-opinion/{id}:
    get:
      summary: Obtener solicitud
      description: Obtiene detalles de una solicitud de segunda opinión
      tags:
        - Second Opinion
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Detalles de solicitud
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SecondOpinionRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /api/second-opinion/{id}/submit:
    post:
      summary: Enviar solicitud
      description: Envía una solicitud para revisión
      tags:
        - Second Opinion
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                documents:
                  type: array
                  items:
                    type: string
                    format: uuid
      responses:
        '200':
          description: Solicitud enviada
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /api/second-opinion/{id}/documents:
    post:
      summary: Subir documentos
      description: Sube documentos para segunda opinión
      tags:
        - Second Opinion
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                documents:
                  type: array
                  items:
                    type: string
                    format: binary
      responses:
        '200':
          description: Documentos subidos
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  # ==================== REFERRALS ====================
  /api/referrals:
    get:
      summary: Listar referencias
      description: Obtiene referencias médicas del doctor
      tags:
        - Referrals
      parameters:
        - name: type
          in: query
          description: Tipo de referencia
          schema:
            type: string
            enum: [sent, received, all]
            default: all
        - name: status
          in: query
          schema:
            type: string
        - name: limit
          in: query
          schema:
            type: integer
            default: 20
            maximum: 50
      responses:
        '200':
          description: Lista de referencias
          content:
            application/json:
              schema:
                type: object
                properties:
                  referrals:
                    type: array
                    items:
                      $ref: '#/components/schemas/DoctorReferral'
                  stats:
                    type: object
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      summary: Crear referencia
      description: Crea una nueva referencia médica
      tags:
        - Referrals
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - patient_id
                - specialty_needed
                - reason
              properties:
                patient_id:
                  type: string
                  format: uuid
                specialty_needed:
                  type: string
                urgency:
                  type: string
                  enum: [emergency, urgent, routine]
                  default: routine
                reason:
                  type: string
                clinical_notes:
                  type: string
                receiving_doctor_id:
                  type: string
                  format: uuid
      responses:
        '201':
          description: Referencia creada
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: uuid
                  status:
                    type: string
                  expires_at:
                    type: string
                    format: date-time
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

  /api/referrals/{id}:
    get:
      summary: Obtener referencia
      description: Obtiene detalles de una referencia
      tags:
        - Referrals
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Detalles de referencia
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DoctorReferral'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  # ==================== FOLLOWUPS ====================
  /api/followups/schedule:
    get:
      summary: Listar seguimientos
      description: Obtiene los seguimientos programados
      tags:
        - Followups
      parameters:
        - name: appointmentId
          in: query
          schema:
            type: string
            format: uuid
        - name: status
          in: query
          schema:
            type: string
      responses:
        '200':
          description: Lista de seguimientos
          content:
            application/json:
              schema:
                type: object
                properties:
                  followUps:
                    type: array
                    items:
                      $ref: '#/components/schemas/FollowUp'
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      summary: Programar seguimiento
      description: Programa un nuevo seguimiento
      tags:
        - Followups
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - appointmentId
                - type
              properties:
                appointmentId:
                  type: string
                  format: uuid
                type:
                  type: string
                  enum: [follow_up_24h, follow_up_7d, medication_reminder, prescription_refill, chronic_care_check]
                scheduledAt:
                  type: string
                  format: date-time
      responses:
        '200':
          description: Seguimiento programado
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  followUpId:
                    type: string
                    format: uuid
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /api/followups/callback:
    post:
      summary: Callback de seguimiento
      description: Recibe respuestas de seguimientos
      tags:
        - Followups
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                followUpId:
                  type: string
                  format: uuid
                response:
                  type: string
      responses:
        '200':
          description: Respuesta registrada

  /api/followups/send:
    post:
      summary: Enviar seguimiento
      description: Envía manualmente un seguimiento
      tags:
        - Followups
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                followUpId:
                  type: string
                  format: uuid
                method:
                  type: string
                  enum: [email, sms, whatsapp]
      responses:
        '200':
          description: Seguimiento enviado
        '401':
          $ref: '#/components/responses/Unauthorized'

  /api/cron/followups:
    post:
      summary: Procesar seguimientos
      description: Endpoint cron para procesar seguimientos pendientes
      tags:
        - Followups
      security: []
      responses:
        '200':
          description: Seguimientos procesados

  # ==================== DIGITAL SIGNATURE ====================
  /api/signature/create:
    post:
      summary: Crear firma
      description: Crea una firma digital para un documento
      tags:
        - Digital Signature
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateSignatureInput'
      responses:
        '200':
          description: Firma creada
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SignatureResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /api/signature/verify:
    post:
      summary: Verificar firma
      description: Verifica la validez de una firma digital
      tags:
        - Digital Signature
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - signatureId
                - documentContent
              properties:
                signatureId:
                  type: string
                  format: uuid
                documentContent:
                  type: string
      responses:
        '200':
          description: Verificación completada
          content:
            application/json:
              schema:
                type: object
                properties:
                  valid:
                    type: boolean
                  details:
                    type: object

  /api/signature/{id}:
    get:
      summary: Obtener firma
      description: Obtiene detalles de una firma digital
      tags:
        - Digital Signature
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Detalles de firma
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DigitalSignature'
        '404':
          $ref: '#/components/responses/NotFound'

  /api/signature/consent:
    post:
      summary: Firmar consentimiento
      description: Crea firma digital para consentimiento
      tags:
        - Digital Signature
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                consentId:
                  type: string
                  format: uuid
      responses:
        '200':
          description: Consentimiento firmado
        '401':
          $ref: '#/components/responses/Unauthorized'

  # ==================== QUESTIONNAIRE ====================
  /api/questionnaire/start:
    post:
      summary: Iniciar cuestionario
      description: Inicia un cuestionario médico adaptativo
      tags:
        - Questionnaire
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                patientId:
                  type: string
                  format: uuid
      responses:
        '200':
          description: Cuestionario iniciado
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  conversationId:
                    type: string
                  firstQuestion:
                    type: string

  /api/questionnaire/message:
    post:
      summary: Enviar respuesta
      description: Envía una respuesta al cuestionario
      tags:
        - Questionnaire
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - conversationId
                - message
              properties:
                conversationId:
                  type: string
                message:
                  type: string
      responses:
        '200':
          description: Respuesta procesada

  /api/questionnaire/{id}/complete:
    post:
      summary: Completar cuestionario
      description: Marca el cuestionario como completado
      tags:
        - Questionnaire
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Cuestionario completado

  /api/questionnaire/{id}/state:
    get:
      summary: Estado del cuestionario
      description: Obtiene el estado actual del cuestionario
      tags:
        - Questionnaire
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Estado del cuestionario

  /api/questionnaire/{id}/summary:
    get:
      summary: Resumen del cuestionario
      description: Obtiene el resumen de respuestas
      tags:
        - Questionnaire
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Resumen del cuestionario
          content:
            application/json:
              schema:
                type: object
                properties:
                  summary:
                    type: object

  /api/questionnaire/{id}/upload:
    post:
      summary: Subir archivo
      description: Sube un archivo al cuestionario
      tags:
        - Questionnaire
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
      responses:
        '200':
          description: Archivo subido

  # ==================== TRIAGE ====================
  /api/triage:
    post:
      summary: Evaluar triage
      description: Evalúa síntomas y determina nivel de urgencia
      tags:
        - Triage
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - message
              properties:
                message:
                  type: string
                  description: Descripción de síntomas
                intake:
                  type: object
                  description: Datos de admisión
                sessionId:
                  type: string
      responses:
        '200':
          description: Evaluación de triage
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  triage:
                    $ref: '#/components/schemas/TriageResult'
        '400':
          $ref: '#/components/responses/BadRequest'

  # ==================== UPLOAD ====================
  /api/upload/avatar:
    post:
      summary: Subir avatar
      description: Sube una foto de perfil
      tags:
        - Upload
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                avatar:
                  type: string
                  format: binary
      responses:
        '200':
          description: Avatar subido
          content:
            application/json:
              schema:
                type: object
                properties:
                  url:
                    type: string
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /api/export/pdf:
    post:
[...]
