openapi: 3.0.3
info:
  title: Doctor.mx API
  description: |
    API REST completa para la plataforma de telemedicina Doctor.mx.

    ## Autenticación

    La API utiliza autenticación basada en sesiones de Supabase. Incluye el token de acceso en el header `Authorization` o gestiona la sesión mediante cookies.

    **Roles de Usuario:**
    - `patient`: Pacientes que buscan atención médica
    - `doctor`: Médicos que proporcionan consultas
    - `admin`: Administradores del sistema

    ## Rate Limiting

    La API implementa rate limiting con los siguientes límites por defecto:

    | Endpoint Tipo | Límite | Ventana |
    |---------------|--------|---------|
    | Autenticación | 5-10 requests | 5 minutos |
    | AI Consult | 20 requests | 1 minuto |
    | AI Vision | 15 requests | 1 minuto |
    | AI General | 20 requests | 1 minuto |
    | API Read | 200 requests | 1 minuto |
    | API Write | 50 requests | 1 minuto |
    | Premium Users | 500 requests | 1 minuto |

    Los usuarios Premium tienen límites más altos.

    ## Seguridad

    - CSRF protection enabled para métodos que modifican estado
    - Rate limiting por IP y usuario
    - Validación de esquemas con Zod
    - Sanitización de inputs para prevenir inyección

    ## Errores

    La API utiliza códigos de estado HTTP estándar:

    - `200` - Success
    - `201` - Created
    - `400` - Bad Request (validación fallida)
    - `401` - Unauthorized (no autenticado)
    - `403` - Forbidden (sin permisos)
    - `404` - Not Found
    - `429` - Too Many Requests (rate limit)
    - `500` - Internal Server Error

  version: 1.0.0
  contact:
    name: Doctor.mx API Support
    email: api@doctormx.com
  license:
    name: Proprietary

servers:
  - url: https://doctormx.com/api
    description: Producción
  - url: https://staging.doctormx.com/api
    description: Staging
  - url: http://localhost:3000/api
    description: Desarrollo local

tags:
  - name: Authentication
    description: Endpoints de autenticación y gestión de sesiones
  - name: Appointments
    description: Gestión de citas médicas
  - name: AI Consultation
    description: Consultas médicas asistidas por IA
  - name: AI Copilot
    description: Copiloto AI para médicos
  - name: Prescriptions
    description: Gestión de recetas médicas
  - name: Patient
    description: Gestión de perfiles y datos de pacientes
  - name: Doctor
    description: Gestión de perfiles y disponibilidad de médicos
  - name: Directory
    description: Directorio médico y búsqueda
  - name: Payments
    description: Procesamiento de pagos y suscripciones
  - name: Webhooks
    description: Webhooks de servicios externos
  - name: Questionnaire
    description: Cuestionarios médicos adaptativos
  - name: Analytics
    description: Análisis y métricas
  - name: Notifications
    description: Sistema de notificaciones
  - name: Chat
    description: Sistema de mensajería

paths:
  /appointments:
    post:
      tags:
        - Appointments
      summary: Crear nueva cita
      description: |
        Crea una nueva cita médica. El usuario debe estar autenticado.
        
        **Flujo:**
        1. Verifica disponibilidad del slot
        2. Crea la cita en estado `pending_payment`
        3. Retorna appointment ID para procesar pago
      security:
        - sessionAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - doctorId
              properties:
                doctorId:
                  type: string
                  format: uuid
                  description: ID del doctor
                slotId:
                  type: string
                  format: uuid
                  description: ID del slot de disponibilidad
                date:
                  type: string
                  format: date
                  description: Fecha de la cita (YYYY-MM-DD)
                time:
                  type: string
                  pattern: '^\d{2}:\d{2}$'
                  description: Hora de la cita (HH:MM)
                notes:
                  type: string
                  maxLength: 1000
                  description: Notas adicionales
                reason:
                  type: string
                  maxLength: 500
                  description: Motivo de la consulta
      responses:
        '201':
          description: Cita creada exitosamente
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: uuid
                  status:
                    type: string
                    enum: [pending_payment]
                  clientSecret:
                    type: string
                    description: Stripe PaymentIntent client secret
        '400':
          description: Datos inválidos
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: No autenticado
        '409':
          description: Slot no disponible

  /appointments/{id}/cancel:
    post:
      tags:
        - Appointments
      summary: Cancelar cita
      description: |
        Cancela una cita existente. Solo el paciente o doctor asignado puede cancelar.
        
        **Política de reembolso:**
        - > 24h antes: reembolso completo
        - 12-24h antes: reembolso 50%
        - < 12h antes: sin reembolso
      security:
        - sessionAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - reason
              properties:
                reason:
                  type: string
                  maxLength: 500
                  description: Razón de la cancelación
      responses:
        '200':
          description: Cita cancelada exitosamente
        '400':
          description: No se puede cancelar (ya completada o muy próxima)
        '403':
          description: No autorizado para cancelar esta cita
        '404':
          description: Cita no encontrada

  /appointments/{id}/video:
    get:
      tags:
        - Appointments
      summary: Obtener información de video consulta
      description: Retorna los datos necesarios para unirse a la videollamada (token, room URL)
      security:
        - sessionAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Datos de video obtenidos
          content:
            application/json:
              schema:
                type: object
                properties:
                  roomUrl:
                    type: string
                    format: uri
                  token:
                    type: string
                  expiresAt:
                    type: string
                    format: date-time
        '403':
          description: Usuario no participa en esta cita
        '404':
          description: Cita no encontrada

  /ai/consult:
    post:
      tags:
        - AI Consultation
      summary: Consulta médica con IA (multi-especialista)
      description: |
        Inicia una consulta médica asistida por IA utilizando el sistema multi-especialista.
        
        **Características:**
        - Análisis simultáneo por múltiples especialistas virtuales
        - Detección de red flags (banderas rojas)
        - Referencias médicas verificadas
        - Nivel de confianza y urgencia
        
        **Rate Limit:** 20 requests/minuto
      security:
        - sessionAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - message
              properties:
                message:
                  type: string
                  minLength: 10
                  maxLength: 4000
                  description: Descripción de síntomas o consulta
                conversationId:
                  type: string
                  format: uuid
                  description: ID de conversación existente (para continuar)
                patientContext:
                  type: object
                  description: Contexto del paciente (edad, género, condiciones previas)
                  properties:
                    age:
                      type: integer
                      minimum: 0
                      maximum: 120
                    gender:
                      type: string
                      enum: [male, female, other]
                    conditions:
                      type: array
                      items:
                        type: string
                includeReferences:
                  type: boolean
                  default: true
                  description: Incluir citas médicas verificadas
      responses:
        '200':
          description: Consulta procesada exitosamente
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConsultationResult'
        '400':
          description: Mensaje inválido o muy corto
        '429':
          description: Rate limit excedido
          headers:
            Retry-After:
              description: Segundos hasta que se resetea el rate limit
              schema:
                type: integer

  /ai/copilot/diagnosis:
    post:
      tags:
        - AI Copilot
      summary: Asistente de diagnóstico para médicos
      description: |
        Asiste al médico en el proceso diagnóstico basado en datos del paciente.
        
        **Uso:** Solo disponible para usuarios con rol `doctor`
      security:
        - sessionAuth: []
        - doctorRole: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - symptoms
                - patientId
              properties:
                symptoms:
                  type: array
                  items:
                    type: string
                  minItems: 1
                patientId:
                  type: string
                  format: uuid
                vitalSigns:
                  type: object
                  properties:
                    temperature:
                      type: number
                    bloodPressure:
                      type: string
                    heartRate:
                      type: integer
                    respiratoryRate:
                      type: integer
                medicalHistory:
                  type: string
      responses:
        '200':
          description: Sugerencias de diagnóstico generadas
          content:
            application/json:
              schema:
                type: object
                properties:
                  differentialDiagnoses:
                    type: array
                    items:
                      type: object
                      properties:
                        condition:
                          type: string
                        probability:
                          type: number
                        supportingFactors:
                          type: array
                          items:
                            type: string
                        recommendedTests:
                          type: array
                          items:
                            type: string

  /ai/copilot/suggestions:
    post:
      tags:
        - AI Copilot
      summary: Sugerencias de tratamiento
      description: Genera sugerencias de tratamiento basadas en diagnóstico
      security:
        - sessionAuth: []
        - doctorRole: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - diagnosis
              properties:
                diagnosis:
                  type: string
                patientAge:
                  type: integer
                patientAllergies:
                  type: array
                  items:
                    type: string
      responses:
        '200':
          description: Sugerencias generadas
          content:
            application/json:
              schema:
                type: object
                properties:
                  medications:
                    type: array
                    items:
                      type: object
                      properties:
                        name:
                          type: string
                        dosage:
                          type: string
                        contraindications:
                          type: array
                          items:
                            type: string
                  lifestyle:
                    type: array
                    items:
                      type: string
                  followUp:
                    type: string

  /ai/copilot/summary:
    post:
      tags:
        - AI Copilot
      summary: Generar resumen de consulta
      description: Crea un resumen estructurado de la consulta médica
      security:
        - sessionAuth: []
        - doctorRole: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - transcript
              properties:
                transcript:
                  type: string
                  description: Transcripción completa de la consulta
                format:
                  type: string
                  enum: [soap, brief, detailed]
                  default: soap
      responses:
        '200':
          description: Resumen generado
          content:
            application/json:
              schema:
                type: object
                properties:
                  summary:
                    type: string
                  subjective:
                    type: string
                  objective:
                    type: string
                  assessment:
                    type: string
                  plan:
                    type: string
                  keyPoints:
                    type: array
                    items:
                      type: string

  /ai/vision/analyze:
    post:
      tags:
        - AI Consultation
      summary: Análisis de imágenes médicas
      description: |
        Analiza imágenes médicas (lesiones, radiografías, etc.) usando IA.
        
        **Soporta:**
        - Lesiones dermatológicas
        - Radiografías simples
        - Documentos médicos (OCR)
        
        **Rate Limit:** 15 requests/minuto
      security:
        - sessionAuth: []
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required:
                - image
              properties:
                image:
                  type: string
                  format: binary
                  description: Archivo de imagen (max 10MB)
                type:
                  type: string
                  enum: [skin, xray, document]
                  description: Tipo de análisis solicitado
                description:
                  type: string
                  description: Descripción opcional del contexto
      responses:
        '202':
          description: Imagen recibida, análisis en proceso
          content:
            application/json:
              schema:
                type: object
                properties:
                  analysisId:
                    type: string
                    format: uuid
                  status:
                    type: string
                    enum: [processing]
                  estimatedTime:
                    type: integer
                    description: Tiempo estimado en segundos
        '400':
          description: Imagen inválida o muy grande
        '429':
          description: Rate limit excedido

  /ai/vision/result/{id}:
    get:
      tags:
        - AI Consultation
      summary: Obtener resultado de análisis de imagen
      description: Retorna el resultado del análisis de imagen médica
      security:
        - sessionAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Resultado del análisis
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum: [completed, processing, failed]
                  result:
                    type: object
                    properties:
                      findings:
                        type: string
                      confidence:
                        type: number
                      recommendations:
                        type: array
                        items:
                          type: string
                      similarCases:
                        type: integer
                        description: Número de casos similares en dataset
        '404':
          description: Análisis no encontrado

  /ai/transcription:
    post:
      tags:
        - AI Copilot
      summary: Transcribir audio de consulta
      description: |
        Convierte audio de consulta médica a texto estructurado.
        
        **Características:**
        - Reconocimiento de voz médica especializado
        - Identificación de speakers (doctor/paciente)
        - Detección automática de términos médicos
        - Soporte para español médico
      security:
        - sessionAuth: []
        - doctorRole: []
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required:
                - audio
              properties:
                audio:
                  type: string
                  format: binary
                  description: Archivo de audio (wav, mp3, m4a - max 50MB)
                appointmentId:
                  type: string
                  format: uuid
                language:
                  type: string
                  default: es
                  enum: [es, en]
      responses:
        '200':
          description: Transcripción completada
          content:
            application/json:
              schema:
                type: object
                properties:
                  transcript:
                    type: string
                  segments:
                    type: array
                    items:
                      type: object
                      properties:
                        speaker:
                          type: string
                          enum: [doctor, patient]
                        text:
                          type: string
                        startTime:
                          type: number
                        endTime:
                          type: number
                  medicalTerms:
                    type: array
                    items:
                      type: object
                      properties:
                        term:
                          type: string
                        category:
                          type: string
                          enum: [symptom, condition, medication, procedure, anatomy]

  /soap/stream:
    post:
      tags:
        - AI Copilot
      summary: Generar nota SOAP en tiempo real
      description: Genera notas SOAP estructuradas basadas en transcripción
      security:
        - sessionAuth: []
        - doctorRole: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - transcript
              properties:
                transcript:
                  type: string
                patientId:
                  type: string
                  format: uuid
                appointmentId:
                  type: string
                  format: uuid
      responses:
        '200':
          description: Nota SOAP generada
          content:
            application/json:
              schema:
                type: object
                properties:
                  subjective:
                    $ref: '#/components/schemas/SubjectiveData'
                  objective:
                    $ref: '#/components/schemas/ObjectiveData'
                  assessment:
                    type: object
                    properties:
                      primaryDiagnosis:
                        type: string
                      differentialDiagnoses:
                        type: array
                        items:
                          type: string
                      severity:
                        type: string
                        enum: [mild, moderate, severe]
                  plan:
                    type: object
                    properties:
                      medications:
                        type: array
                        items:
                          type: object
                          properties:
                            name:
                              type: string
                            dosage:
                              type: string
                            duration:
                              type: string
                      tests:
                        type: array
                        items:
                          type: string
                      referrals:
                        type: array
                        items:
                          type: string
                      followUp:
                        type: string
                      patientEducation:
                        type: array
                        items:
                          type: string

  /prescriptions:
    post:
      tags:
        - Prescriptions
      summary: Crear o actualizar receta
      description: Crea o actualiza una receta médica para una cita
      security:
        - sessionAuth: []
        - doctorRole: []
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required:
                - appointmentId
                - diagnosis
                - medications
              properties:
                appointmentId:
                  type: string
                  format: uuid
                diagnosis:
                  type: string
                medications:
                  type: string
                  description: JSON string con array de medicamentos
                instructions:
                  type: string
      responses:
        '302':
          description: Redirección exitosa a página del doctor
          headers:
            Location:
              schema:
                type: string
        '400':
          description: Datos inválidos
        '403':
          description: Solo el doctor asignado puede crear recetas

  /prescriptions/{id}/pdf:
    get:
      tags:
        - Prescriptions
      summary: Descargar receta en PDF
      description: Genera y descarga la receta médica en formato PDF
      security:
        - sessionAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: PDF de la receta
          content:
            application/pdf:
              schema:
                type: string
                format: binary
        '404':
          description: Receta no encontrada

  /prescriptions/{id}/send:
    post:
      tags:
        - Prescriptions
      summary: Enviar receta por email
      description: Envía la receta médica por correo electrónico al paciente
      security:
        - sessionAuth: []
        - doctorRole: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  format: email
                  description: Email alternativo (opcional, por defecto usa el del paciente)
      responses:
        '200':
          description: Receta enviada exitosamente
          content:
            application/json:
              schema:
                type: object
                properties:
                  sent:
                    type: boolean
                  email:
                    type: string
        '403':
          description: No autorizado
        '404':
          description: Receta no encontrada

  /patient/profile:
    get:
      tags:
        - Patient
      summary: Obtener perfil del paciente
      description: Retorna el perfil completo del paciente autenticado
      security:
        - sessionAuth: []
        - patientRole: []
      responses:
        '200':
          description: Perfil obtenido
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PatientProfile'
    put:
      tags:
        - Patient
      summary: Actualizar perfil
      description: Actualiza los datos del perfil del paciente
      security:
        - sessionAuth: []
        - patientRole: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatientProfileUpdate'
      responses:
        '200':
          description: Perfil actualizado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PatientProfile'
        '400':
          description: Datos inválidos

  /patient/medical-history:
    get:
      tags:
        - Patient
      summary: Obtener historial médico
      description: |
        Retorna el historial médico completo del paciente.
        
        **Incluye:**
        - Condiciones médicas diagnosticadas
        - Medicamentos actuales y pasados
        - Alergias
        - Cirugías previas
        - Antecedentes familiares
      security:
        - sessionAuth: []
        - patientRole: []
      responses:
        '200':
          description: Historial médico obtenido
          content:
            application/json:
              schema:
                type: object
                properties:
                  conditions:
                    type: array
                    items:
                      $ref: '#/components/schemas/MedicalCondition'
                  medications:
                    type: array
                    items:
                      $ref: '#/components/schemas/Medication'
                  allergies:
                    type: array
                    items:
                      type: string
                  surgeries:
                    type: array
                    items:
                      type: object
                      properties:
                        procedure:
                          type: string
                        date:
                          type: string
                          format: date
                        notes:
                          type: string

  /patient/appointments:
    get:
      tags:
        - Patient
      summary: Listar citas del paciente
      description: Obtiene todas las citas del paciente autenticado
      security:
        - sessionAuth: []
        - patientRole: []
      parameters:
        - name: status
          in: query
          schema:
            type: string
            enum: [pending, confirmed, completed, cancelled]
        - name: limit
          in: query
          schema:
            type: integer
            default: 20
        - name: offset
          in: query
          schema:
            type: integer
            default: 0
      responses:
        '200':
          description: Lista de citas
          content:
            application/json:
              schema:
                type: object
                properties:
                  appointments:
                    type: array
                    items:
                      $ref: '#/components/schemas/Appointment'
                  total:
                    type: integer

  /doctor/availability:
    post:
      tags:
        - Doctor
      summary: Configurar disponibilidad
      description: |
        Define las reglas de disponibilidad semanal del doctor.
        
        **Nota:** Sobrescribe todas las reglas anteriores
      security:
        - sessionAuth: []
        - doctorRole: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - rules
              properties:
                rules:
                  type: array
                  items:
                    type: object
                    required:
                      - dayOfWeek
                      - startTime
                      - endTime
                    properties:
                      dayOfWeek:
                        type: integer
                        minimum: 0
                        maximum: 6
                        description: 0 = Domingo, 6 = Sábado
                      startTime:
                        type: string
                        pattern: '^\d{2}:\d{2}$'
                      endTime:
                        type: string
                        pattern: '^\d{2}:\d{2}$'
                      slotMinutes:
                        type: integer
                        default: 30
                      bufferMinutes:
                        type: integer
                        default: 5
      responses:
        '200':
          description: Disponibilidad actualizada
        '400':
          description: Reglas inválidas

  /doctor/onboarding:
    post:
      tags:
        - Doctor
      summary: Completar onboarding de doctor
      description: |
        Completa el registro inicial del doctor con información profesional.
        
        **Requisitos:**
        - Cédula profesional válida (verificada contra IMSS/UNAM)
        - Especialidad seleccionada
        - Precio de consulta entre $100-$5,000 MXN
        
        **Estados:**
        - `draft` - Registro iniciado
        - `pending` - En revisión
        - `approved` - Aprobado y visible
        - `rejected` - Rechazado (con razón)
      security:
        - sessionAuth: []
        - doctorRole: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - yearsExperience
                - bio
                - licenseNumber
                - priceCents
              properties:
                yearsExperience:
                  type: integer
                  minimum: 0
                  maximum: 75
                bio:
                  type: string
                  maxLength: 2000
                licenseNumber:
                  type: string
                  pattern: '^[A-Z0-9]{6,20}$'
                  description: 'Cedula profesional (6-20 caracteres alfanumericos)'
                priceCents:
                  type: integer
                  minimum: 10000
                  maximum: 500000
                  description: 'Precio en centavos (100-5000 MXN)'
                availability:
                  type: array
                  items:
                    type: object
                    properties:
                      day:
                        type: integer
                        minimum: 0
                        maximum: 6
                      startTime:
                        type: string
                        pattern: '^\d{2}:\d{2}$'
                      endTime:
                        type: string
                        pattern: '^\d{2}:\d{2}$'
      responses:
        '200':
          description: Onboarding completado
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum: [pending, approved]
        '400':
          description: Datos inválidos
        '409':
          description: Cédula ya registrada

  /doctor/badges:
    get:
      tags:
        - Doctor
      summary: Obtener badges y verificaciones
      description: Retorna los badges y verificaciones del doctor
      security:
        - sessionAuth: []
        - doctorRole: []
      responses:
        '200':
          description: Badges obtenidos
          content:
            application/json:
              schema:
                type: object
                properties:
                  badges:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        name:
                          type: string
                        description:
                          type: string
                        icon:
                          type: string
                        earnedAt:
                          type: string
                          format: date-time
                  verifications:
                    type: object
                    properties:
                      license:
                        type: string
                        enum: [verified, pending, rejected]
                      identity:
                        type: string
                        enum: [verified, pending, rejected]

  /doctors/{id}:
    get:
      tags:
        - Doctor
      summary: Obtener perfil público de doctor
      description: Retorna información pública del doctor
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Perfil obtenido
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DoctorProfile'
        '404':
          description: Doctor no encontrado

  /doctors/{id}/available-dates:
    get:
      tags:
        - Doctor
      summary: Obtener fechas disponibles
      description: Retorna las fechas con disponibilidad en el rango especificado
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: startDate
          in: query
          required: true
          schema:
            type: string
            format: date
          description: Fecha inicio (YYYY-MM-DD)
        - name: endDate
          in: query
          required: true
          schema:
            type: string
            format: date
          description: Fecha fin (YYYY-MM-DD)
      responses:
        '200':
          description: Fechas disponibles
          content:
            application/json:
              schema:
                type: object
                properties:
                  dates:
                    type: array
                    items:
                      type: string
                      format: date

  /doctors/{id}/slots:
    get:
      tags:
        - Doctor
      summary: Obtener slots disponibles
      description: Retorna los slots de disponibilidad para una fecha específica
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: date
          in: query
          required: true
          schema:
            type: string
            format: date
          description: Fecha (YYYY-MM-DD)
        - name: type
          in: query
          schema:
            type: string
            enum: [in_person, video]
      responses:
        '200':
          description: Slots disponibles
          content:
            application/json:
              schema:
                type: object
                properties:
                  slots:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: uuid
                        startTime:
                          type: string
                        endTime:
                          type: string
                        available:
                          type: boolean
                        type:
                          type: string
                          enum: [in_person, video]

  /directory/recommended:
    get:
      tags:
        - Directory
      summary: Obtener doctores recomendados
      description: |
        Retorna doctores destacados y recomendados.
        
        **Filtros disponibles:**
        - Especialidad
        - Ubicación (ciudad/estado)
        - Tipo de consulta (presencial/video)
        - Rango de precios
      parameters:
        - name: specialty
          in: query
          schema:
            type: string
        - name: city
          in: query
          schema:
            type: string
        - name: state
          in: query
          schema:
            type: string
        - name: type
          in: query
          schema:
            type: string
            enum: [in_person, video]
        - name: minPrice
          in: query
          schema:
            type: integer
        - name: maxPrice
          in: query
          schema:
            type: integer
        - name: limit
          in: query
          schema:
            type: integer
            default: 10
      responses:
        '200':
          description: Lista de doctores recomendados
          content:
            application/json:
              schema:
                type: object
                properties:
                  doctors:
                    type: array
                    items:
                      $ref: '#/components/schemas/DoctorProfile'
                  total:
                    type: integer

  /questionnaire/start:
    post:
      tags:
        - Questionnaire
      summary: Iniciar cuestionario médico
      description: |
        Inicia un cuestionario médico adaptativo para recopilar información del paciente.
        
        **Tipos de cuestionario:**
        - `pre_consultation` - Pre-consulta general
        - `symptom_assessment` - Evaluación de síntomas específicos
        - `follow_up` - Seguimiento post-consulta
      security:
        - sessionAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - type
              properties:
                type:
                  type: string
                  enum: [pre_consultation, symptom_assessment, follow_up]
                appointmentId:
                  type: string
                  format: uuid
                context:
                  type: object
                  description: Contexto adicional para personalizar preguntas
      responses:
        '201':
          description: Cuestionario iniciado
          content:
            application/json:
              schema:
                type: object
                properties:
                  questionnaireId:
                    type: string
                    format: uuid
                  firstQuestion:
                    type: object
                    properties:
                      id:
                        type: string
                      text:
                        type: string
                      type:
                        type: string
                        enum: [single_choice, multiple_choice, text, number, date, scale]
                      options:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                            text:
                              type: string
        '400':
          description: Tipo de cuestionario inválido

  /questionnaire/message:
    post:
      tags:
        - Questionnaire
      summary: Enviar mensaje al cuestionario
      description: Envía una respuesta y recibe la siguiente pregunta
      security:
        - sessionAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - questionnaireId
                - questionId
                - answer
              properties:
                questionnaireId:
                  type: string
                  format: uuid
                questionId:
                  type: string
                answer:
                  oneOf:
                    - type: string
                    - type: number
                    - type: array
                      items:
                        type: string
      responses:
        '200':
          description: Respuesta procesada
          content:
            application/json:
              schema:
                type: object
                properties:
                  nextQuestion:
                    type: object
                    nullable: true
                    properties:
                      id:
                        type: string
                      text:
                        type: string
                      type:
                        type: string
                  isComplete:
                    type: boolean
                  summary:
                    type: object
                    nullable: true

  /questionnaire/{id}/complete:
    post:
      tags:
        - Questionnaire
      summary: Completar cuestionario
      description: Finaliza el cuestionario y genera el resumen
      security:
        - sessionAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Cuestionario completado
          content:
            application/json:
              schema:
                type: object
                properties:
                  summary:
                    type: object
                  recommendations:
                    type: array
                    items:
                      type: string

  /subscriptions/plans:
    get:
      tags:
        - Payments
      summary: Obtener planes de suscripción
      description: Retorna todos los planes de suscripción disponibles
      responses:
        '200':
          description: Planes obtenidos
          content:
            application/json:
              schema:
                type: object
                properties:
                  plans:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        name:
                          type: string
                        description:
                          type: string
                        priceCents:
                          type: integer
                        currency:
                          type: string
                        interval:
                          type: string
                          enum: [month, year]
                        features:
                          type: array
                          items:
                            type: object
                            properties:
                              name:
                                type: string
                              included:
                                type: boolean
                              limit:
                                type: integer
                                nullable: true

  /subscriptions:
    get:
      tags:
        - Payments
      summary: Obtener suscripción actual
      description: Retorna la suscripción activa del usuario
      security:
        - sessionAuth: []
      responses:
        '200':
          description: Suscripción obtenida
          content:
            application/json:
              schema:
                type: object
                properties:
                  subscription:
                    type: object
                    nullable: true
                    properties:
                      id:
                        type: string
                      plan:
                        type: string
                      status:
                        type: string
                        enum: [active, canceled, past_due, unpaid]
                      currentPeriodStart:
                        type: string
                        format: date-time
                      currentPeriodEnd:
                        type: string
                        format: date-time
                      cancelAtPeriodEnd:
                        type: boolean

  /webhooks/stripe:
    post:
      tags:
        - Webhooks
      summary: Webhook de Stripe
      description: |
        Recibe eventos de Stripe (pagos, suscripciones).
        
        **Eventos procesados:**
        - `payment_intent.succeeded`
        - `payment_intent.payment_failed`
        - `customer.subscription.created`
        - `customer.subscription.updated`
        - `customer.subscription.deleted`
        - `invoice.payment_failed`
      security:
        - webhookSignature: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Evento procesado
        '400':
          description: Firma inválida

  /webhooks/twilio:
    post:
      tags:
        - Webhooks
      summary: Webhook de Twilio (SMS)
      description: Recibe respuestas SMS de pacientes
      security:
        - webhookSignature: []
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                From:
                  type: string
                Body:
                  type: string
                MessageSid:
                  type: string
      responses:
        '200':
          description: Mensaje procesado

  /webhooks/whatsapp:
    post:
      tags:
        - Webhooks
      summary: Webhook de WhatsApp Business
      description: Recibe mensajes de WhatsApp
      security:
        - webhookSignature: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Mensaje procesado

  /analytics/admin:
    get:
      tags:
        - Analytics
      summary: Métricas de administrador
      description: Retorna métricas globales del sistema (solo admin)
      security:
        - sessionAuth: []
        - adminRole: []
      parameters:
        - name: startDate
          in: query
          schema:
            type: string
            format: date
        - name: endDate
          in: query
          schema:
            type: string
            format: date
      responses:
        '200':
          description: Métricas obtenidas
          content:
            application/json:
              schema:
                type: object
                properties:
                  totalAppointments:
                    type: integer
                  totalRevenue:
                    type: integer
                  activeDoctors:
                    type: integer
                  newPatients:
                    type: integer
                  conversionRate:
                    type: number

  /analytics/doctor:
    get:
      tags:
        - Analytics
      summary: Métricas del doctor
      description: Retorna métricas del doctor autenticado
      security:
        - sessionAuth: []
        - doctorRole: []
      parameters:
        - name: period
          in: query
          schema:
            type: string
            enum: [week, month, quarter, year]
            default: month
      responses:
        '200':
          description: Métricas obtenidas
          content:
            application/json:
              schema:
                type: object
                properties:
                  totalAppointments:
                    type: integer
                  completionRate:
                    type: number
                  averageRating:
                    type: number
                  revenue:
                    type: integer
                  patientRetention:
                    type: number

  /chat/conversations:
    get:
      tags:
        - Chat
      summary: Listar conversaciones
      description: Obtiene todas las conversaciones del usuario
      security:
        - sessionAuth: []
      responses:
        '200':
          description: Conversaciones obtenidas
          content:
            application/json:
              schema:
                type: object
                properties:
                  conversations:
                    type: array
                    items:
                      $ref: '#/components/schemas/ChatConversation'
    post:
      tags:
        - Chat
      summary: Crear conversación
      description: Crea una nueva conversación entre paciente y doctor
      security:
        - sessionAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - doctorId
              properties:
                doctorId:
                  type: string
                  format: uuid
                appointmentId:
                  type: string
                  format: uuid
      responses:
        '201':
          description: Conversación creada
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChatConversation'

  /chat/messages:
    post:
      tags:
        - Chat
      summary: Enviar mensaje
      description: Envía un mensaje en una conversación
      security:
        - sessionAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - conversationId
                - content
              properties:
                conversationId:
                  type: string
                  format: uuid
                content:
                  type: string
                  maxLength: 4000
                type:
                  type: string
                  enum: [text, image, file]
                  default: text
                attachmentUrl:
                  type: string
                  format: uri
                attachmentName:
                  type: string
                attachmentType:
                  type: string
      responses:
        '200':
          description: Mensaje enviado
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    $ref: '#/components/schemas/ChatMessage'
                  triageAlert:
                    type: object
                    nullable: true
                    properties:
                      level:
                        type: string
                      severity:
                        type: string
                      recommendations:
                        type: array
                        items:
                          type: string

  /cache/stats:
    get:
      tags:
        - System
      summary: Estadísticas de caché
      description: Retorna estadísticas del sistema de caché (admin only)
      security:
        - sessionAuth: []
        - adminRole: []
      responses:
        '200':
          description: Estadísticas obtenidas
          content:
            application/json:
              schema:
                type: object
                properties:
                  hits:
                    type: integer
                  misses:
                    type: integer
                  hitRate:
                    type: number
                  size:
                    type: integer

  /cache/invalidate:
    post:
      tags:
        - System
      summary: Invalidar caché
      description: Invalida patrones específicos de caché
      security:
        - sessionAuth: []
        - adminRole: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - patterns
              properties:
                patterns:
                  type: array
                  items:
                    type: string
      responses:
        '200':
          description: Caché invalidado
          content:
            application/json:
              schema:
                type: object
                properties:
                  invalidated:
                    type: integer

components:
  securitySchemes:
    sessionAuth:
      type: apiKey
      in: cookie
      name: sb-access-token
      description: Autenticación mediante sesión de Supabase

    doctorRole:
      type: apiKey
      in: header
      name: X-User-Role
      description: Requiere rol de doctor (user.role = 'doctor')

    patientRole:
      type: apiKey
      in: header
      name: X-User-Role
      description: Requiere rol de paciente (user.role = 'patient')

    adminRole:
      type: apiKey
      in: header
      name: X-User-Role
      description: Requiere rol de administrador (user.role = 'admin')

    webhookSignature:
      type: apiKey
      in: header
      name: stripe-signature
      description: Firma del webhook para verificación

  schemas:
    Error:
      type: object
      properties:
        error:
          type: string
          description: Mensaje de error
        redirect:
          type: string
          format: uri
          description: URL de redirección (opcional)
        details:
          type: object
          description: Detalles adicionales del error

    ConsultationResult:
      type: object
      description: Resultado de consulta multi-especialista
      properties:
        id:
          type: string
          format: uuid
        primaryDiagnosis:
          type: string
          description: Diagnóstico principal
        confidence:
          type: number
          format: float
          minimum: 0
          maximum: 1
          description: Nivel de confianza (0-1)
        specialists:
          type: array
          description: Opiniones de especialistas
          items:
            type: object
            properties:
              id:
                type: string
              name:
                type: string
              specialty:
                type: string
              primaryDiagnosis:
                type: string
              confidence:
                type: number
                format: float
              assessment:
                type: string
              differentialDiagnoses:
                type: array
                items:
                  type: string
              recommendations:
                type: array
                items:
                  type: string
              urgency:
                type: string
                enum: [emergency, urgent, moderate, routine, self-care]
        urgency:
          type: string
          enum: [emergency, urgent, moderate, routine, self-care]
        redFlags:
          type: array
          description: Banderas rojas detectadas
          items:
            type: object
            properties:
              type:
                type: string
              description:
                type: string
              severity:
                type: string
                enum: [high, medium, low]
        recommendations:
          type: array
          items:
            type: string
        references:
          type: array
          description: Citas médicas verificadas
          items:
            $ref: '#/components/schemas/MedicalCitation'
        followUpQuestions:
          type: array
          items:
            type: string
        metadata:
          $ref: '#/components/schemas/ResponseMetadata'

    MedicalCitation:
      type: object
      description: Cita médica verificada
      properties:
        id:
          type: string
        title:
          type: string
        source:
          type: string
          description: Fuente (PubMed, Cochrane, etc.)
        url:
          type: string
          format: uri
        year:
          type: integer
        authors:
          type: array
          items:
            type: string
        relevance:
          type: number
          description: Puntuación de relevancia (0-1)

    ResponseMetadata:
      type: object
      properties:
        responseTime:
          type: number
          description: Tiempo de respuesta en ms
        modelVersion:
          type: string
        tokensUsed:
          type: integer
        timestamp:
          type: string
          format: date-time

    SubjectiveData:
      type: object
      description: Datos subjetivos del paciente (SOAP)
      properties:
        chiefComplaint:
          type: string
          description: Motivo principal de consulta
        historyOfPresentIllness:
          type: string
          description: Historia de la enfermedad actual
        reviewOfSystems:
          type: object
          properties:
            constitutional:
              type: string
            cardiovascular:
              type: string
            respiratory:
              type: string
            gastrointestinal:
              type: string
            neurological:
              type: string
            musculoskeletal:
              type: string
            skin:
              type: string
        pastMedicalHistory:
          type: array
          items:
            type: string
        medications:
          type: array
          items:
            type: string
        allergies:
          type: array
          items:
            type: string
        familyHistory:
          type: array
          items:
            type: string
        socialHistory:
          type: object
          properties:
            smoking:
              type: string
            alcohol:
              type: string
            occupation:
              type: string
            exercise:
              type: string

    ObjectiveData:
      type: object
      description: Datos objetivos del paciente (SOAP)
      properties:
        vitalSigns:
          type: object
          properties:
            temperature:
              type: number
              description: Temperatura en °C
            bloodPressure:
              type: string
              description: 'Presión arterial (ej: 120/80)'
            heartRate:
              type: integer
              description: ppm
            respiratoryRate:
              type: integer
              description: rpm
            oxygenSaturation:
              type: number
              description: 'Porcentaje'
            weight:
              type: number
              description: kg
            height:
              type: number
              description: cm
        physicalExam:
          type: string
          description: Hallazgos del examen físico
        laboratory:
          type: array
          items:
            type: object
            properties:
              test:
                type: string
              result:
                type: string
              referenceRange:
                type: string
        imaging:
          type: array
          items:
            type: object
            properties:
              type:
                type: string
              findings:
                type: string

    PatientProfile:
      type: object
      properties:
        id:
          type: string
          format: uuid
        fullName:
          type: string
        email:
          type: string
          format: email
        phone:
          type: string
        photoUrl:
          type: string
          format: uri
        dateOfBirth:
          type: string
          format: date
        gender:
          type: string
          enum: [male, female, other]
        address:
          type: object
          properties:
            street:
              type: string
            city:
              type: string
            state:
              type: string
            zipCode:
              type: string
            country:
              type: string
        emergencyContact:
          type: object
          properties:
            name:
              type: string
            phone:
              type: string
            relationship:
              type: string

    PatientProfileUpdate:
      type: object
      properties:
        fullName:
          type: string
          minLength: 2
        phone:
          type: string
        dateOfBirth:
          type: string
          format: date
        gender:
          type: string
          enum: [male, female, other]
        address:
          type: object
          properties:
            street:
              type: string
            city:
              type: string
            state:
              type: string
            zipCode:
              type: string
        emergencyContact:
          type: object
          properties:
            name:
              type: string
            phone:
              type: string
            relationship:
              type: string

    DoctorProfile:
      type: object
      properties:
        id:
          type: string
          format: uuid
        userId:
          type: string
          format: uuid
        fullName:
          type: string
        specialty:
          type: string
        subSpecialties:
          type: array
          items:
            type: string
        licenseNumber:
          type: string
        yearsExperience:
          type: integer
        bio:
          type: string
        profileImage:
          type: string
          format: uri
        rating:
          type: number
          format: float
          minimum: 0
          maximum: 5
        totalReviews:
          type: integer
        priceCents:
          type: integer
          description: 'Precio por consulta en centavos'
        currency:
          type: string
        languages:
          type: array
          items:
            type: string
        education:
          type: array
          items:
            type: object
            properties:
              degree:
                type: string
              institution:
                type: string
              year:
                type: integer
        availability:
          type: array
          items:
            type: object
            properties:
              dayOfWeek:
                type: integer
              startTime:
                type: string
              endTime:
                type: string

    Appointment:
      type: object
      properties:
        id:
          type: string
          format: uuid
        patientId:
          type: string
          format: uuid
        doctorId:
          type: string
          format: uuid
        startTs:
          type: string
          format: date-time
        endTs:
          type: string
          format: date-time
        status:
          type: string
          enum: [pending, pending_payment, confirmed, completed, cancelled, no_show]
        type:
          type: string
          enum: [in_person, video]
        priceCents:
          type: integer
        currency:
          type: string
          default: MXN
        notes:
          type: string
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    MedicalCondition:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        code:
          type: string
          description: Código CIE-10
        diagnosedDate:
          type: string
          format: date
        status:
          type: string
          enum: [active, resolved, chronic]
        notes:
          type: string

    Medication:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        dosage:
          type: string
        frequency:
          type: string
        startDate:
          type: string
          format: date
        endDate:
          type: string
          format: date
          nullable: true
        prescribedBy:
          type: string
        notes:
          type: string

    Prescription:
      type: object
      description: Receta médica
      properties:
        id:
          type: string
          format: uuid
        appointmentId:
          type: string
          format: uuid
        doctorId:
          type: string
          format: uuid
        patientId:
          type: string
          format: uuid
        diagnosis:
          type: string
        medications:
          type: array
          items:
            type: object
            properties:
              name:
                type: string
              dosage:
                type: string
              frequency:
                type: string
              duration:
                type: string
              instructions:
                type: string
        notes:
          type: string
        pdfUrl:
          type: string
          format: uri
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    ChatMessage:
      type: object
      description: Mensaje de chat
      properties:
        id:
          type: string
          format: uuid
        conversationId:
          type: string
          format: uuid
        senderId:
          type: string
          format: uuid
        senderType:
          type: string
          enum: [patient, doctor]
        content:
          type: string
        messageType:
          type: string
          enum: [text, image, file]
        attachmentUrl:
          type: string
          format: uri
          nullable: true
        attachmentName:
          type: string
          nullable: true
        attachmentType:
          type: string
          nullable: true
        readAt:
          type: string
          format: date-time
          nullable: true
        createdAt:
          type: string
          format: date-time

    ChatConversation:
      type: object
      description: Conversación de chat
      properties:
        id:
          type: string
          format: uuid
        patientId:
          type: string
          format: uuid
        doctorId:
          type: string
          format: uuid
        appointmentId:
          type: string
          format: uuid
          nullable: true
        lastMessagePreview:
          type: string
          nullable: true
        lastMessageAt:
          type: string
          format: date-time
          nullable: true
        isArchived:
          type: boolean
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    Payment:
      type: object
      description: Pago de cita
      properties:
        id:
          type: string
          format: uuid
        appointmentId:
          type: string
          format: uuid
        amountCents:
          type: integer
        currency:
          type: string
        status:
          type: string
          enum: [requires_action, pending, paid, failed, refunded]
        provider:
          type: string
          enum: [stripe, openpay, mercadopago]
        providerRef:
          type: string
        feeCents:
          type: integer
        netCents:
          type: integer
        createdAt:
          type: string
          format: date-time

    AvailabilityRule:
      type: object
      description: Regla de disponibilidad semanal
      properties:
        id:
          type: string
          format: uuid
        doctorId:
          type: string
          format: uuid
        dayOfWeek:
          type: integer
          minimum: 0
          maximum: 6
        startTime:
          type: string
          pattern: '^\d{2}:\d{2}$'
        endTime:
          type: string
          pattern: '^\d{2}:\d{2}$'
        slotMinutes:
          type: integer
          default: 30
        bufferMinutes:
          type: integer
          default: 5
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    Specialty:
      type: object
      description: Especialidad médica
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        slug:
          type: string
        description:
          type: string
        icon:
          type: string

    FollowUp:
      type: object
      description: Seguimiento post-consulta
      properties:
        id:
          type: string
          format: uuid
        appointmentId:
          type: string
          format: uuid
        scheduledFor:
          type: string
          format: date-time
        status:
          type: string
          enum: [scheduled, sent, completed, cancelled]
        notes:
          type: string
        createdAt:
          type: string
          format: date-time

    TriageAlert:
      type: object
      description: Alerta de triage detectada
      properties:
        level:
          type: string
          enum: [emergency, urgent, moderate, routine, self-care]
        severity:
          type: string
          enum: [critical, high, medium, low]
        reasons:
          type: array
          items:
            type: string
        recommendations:
          type: array
          items:
            type: string
        isMentalHealthCrisis:
          type: boolean
        info:
          type: object
          properties:
            title:
              type: string
            description:
              type: string
            action:
              type: string
            color:
              type: string

    VideoSession:
      type: object
      description: Sesión de videollamada
      properties:
        roomId:
          type: string
        roomUrl:
          type: string
          format: uri
        token:
          type: string
        status:
          type: string
          enum: [pending, ready, in_progress, completed, missed]
        startedAt:
          type: string
          format: date-time
          nullable: true
        endedAt:
          type: string
          format: date-time
          nullable: true
        duration:
          type: integer
          description: Duración en segundos

    Subscription:
      type: object
      description: Suscripción del usuario
      properties:
        id:
          type: string
          format: uuid
        plan:
          type: string
        status:
          type: string
          enum: [active, canceled, past_due, unpaid, incomplete]
        currentPeriodStart:
          type: string
          format: date-time
        currentPeriodEnd:
          type: string
          format: date-time
        cancelAtPeriodEnd:
          type: boolean
        createdAt:
          type: string
          format: date-time

    Review:
      type: object
      description: Reseña de doctor
      properties:
        id:
          type: string
          format: uuid
        appointmentId:
          type: string
          format: uuid
        doctorId:
          type: string
          format: uuid
        patientId:
          type: string
          format: uuid
        rating:
          type: integer
          minimum: 1
          maximum: 5
        comment:
          type: string
        isVerified:
          type: boolean
        createdAt:
          type: string
          format: date-time

    SecondOpinion:
      type: object
      description: Solicitud de segunda opinión médica
      properties:
        id:
          type: string
          format: uuid
        patientId:
          type: string
          format: uuid
        specialtyId:
          type: string
          format: uuid
        description:
          type: string
        medicalHistory:
          type: string
        status:
          type: string
          enum: [pending, assigned, in_review, completed, rejected]
        attachments:
          type: array
          items:
            type: string
            format: uri
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    Questionnaire:
      type: object
      description: Cuestionario médico
      properties:
        id:
          type: string
          format: uuid
        patientId:
          type: string
          format: uuid
        type:
          type: string
          enum: [pre_consultation, symptom_assessment, follow_up]
        status:
          type: string
          enum: [active, completed, cancelled]
        responses:
          type: array
          items:
            type: object
            properties:
              questionId:
                type: string
              question:
                type: string
              answer:
                oneOf:
                  - type: string
                  - type: number
                  - type: array
                    items:
                      type: string
        summary:
          type: object
        completedAt:
          type: string
          format: date-time
          nullable: true
        createdAt:
          type: string
          format: date-time
